@mixin custom-scrollbar {
  overflow: overlay;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 000);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }
  &::-webkit-scrollbar-corner {
    background: #515251;
  }
}
$test-color: #130f40;
// $main-bg-color: #ece7db;
$main-bg-color: #f1f2f6;
$activate-color: #000000;
$textarea-color: #ffffff;
$textarea-shadow: rgb(190, 184, 184);
$textarea-padding: 1em;
@mixin custom-textarea {
  background-color: $textarea-color;
  box-shadow: 0 0 5px $textarea-shadow;
  padding: $textarea-padding;
}

@mixin custom-shadow {
  // background-color: $textarea-shadow;
  box-shadow: 0 0 5px $textarea-shadow;
}
