<!doctype html>
<html>
    {% include "/base/head.html" %}
    <script type="text/javascript">
        $(function() {
            $("form").submit(function() {
                var ret = verifyRequestCallback();
                return ret;
            });

            function verifyRequestCallback() {
                var emailAddr = $("#floatingInput").val();
                var password = $("#floatingPassword").val();
                
                if (emailAddr === "") {
                    alert("Email address can't be empty!");
                    return false;
                }

                if (password === "") {
                    alert("Password can't be empty!");
                    return false;
                }
                return true;
            }
        });
    </script>
    <body class="text-center g-login-body">
        <main class="form-signin">
            <form action="login/form" method="post">
                <img class="mb-4" src="/content/img/brand/blob-logo.svg" alt="" width="96" height="96">
                <h1 class="h3 mb-3 fw-normal">请登录</h1>

                <div class="text-start form-floating">
                    <input type="email" class="form-control" name="emailInput" id="loginEmailInput" placeholder="name@example.com">
                    <label for="emailInput">Email address</label>
                </div>
                <div class="text-start form-floating">
                    <input type="password" class="form-control" name="passwordInput" id="loginPasswordInput" placeholder="Password">
                    <label for="passwordInput">Password</label>
                </div>

                <div class="text-start checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">登录</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2022 Personal, DDGRCF</p>
            </form>
        </main>

    </body>
</html>
