<head>
    <!-- title -->
    <title>{{title}}</title>

    <!-- meta -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DDG Blob Blob">

    <!-- css -->
    <link rel="stylesheet" href="/content/css/reset.css">
    <link rel="stylesheet" href="/content/css/mixin.css">
    <link rel="stylesheet" href="/content/css/common.css">
    <link rel="stylesheet" href="/content/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/content/plugin/pace/themes/red/pace-theme-bounce.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- js -->
    <script src="/content/js/common.js"></script>
    <script src="/content/plugin/jquery/jquery-3.5.1.min.js"></script>
    <script src="/content/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/content/plugin/modernizr/modernizr-custom.js"></script>
    <script src="/content/plugin/pace/pace.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
{% include "/base/icon.html" %}