
<script type="text/javascript">
    // $(function() {
    // });
$(function() {
    const userLoginRegister = {
        data() {
            return {
                login: false
            }
        },
        methods: {
            loginBtnClick(event) {
                $(location).attr("href", "login")
            },
            signUpBtnClick(event) {
                alert("Please waiting...")
            }
        },
        mounted () {
            axios({
                method: "get",
                url: "auth",
                headers: {
                    "Authorization": "Bearer " +  sessionStorage.getItem("token")
                }
            })
            .then(response => {
                this.login = false
                console.log(response.data)
                if (response.data.code === 104) { // 验证成功
                    this.login = true
                } else {
                    this.login = false
                }
            })
            .catch(error => {
                // 请求失败
                this.login = false
                console.log(error)
            })
        },
        /* 
            普通或匿名函数内的this，就是调用函数的那个对象，且绝大多数匿名函数均被实现为this指向window。
            箭头函数内的this，就是箭头函数被定义时所在作用域的this
            js的this只会在函数作用域或全局作用域，不要与块级作用域混淆
        */
    }
    var app = Vue.createApp(userLoginRegister)
    app.mount("#user-login-register")
})

</script>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap"><use xlink:href="#siteLogo"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Questions</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>
            <div id="user-login-register" class="text-end">
                <template v-if="!login">
                    <button type="button" class="btn btn-outline-light me-2" @click="loginBtnClick">Login</button>
                    <button type="button" class="btn btn-warning" @click="signUpBtnClick">Sign-up</button>
                </template>
                <template v-if="login">
                    <svg class="bi me-2" width="40" height="40" role="img" aria-label="Bootstrap"><use xlink:href="#siteLogo"/></svg>
                </template>
            </div>
        </div>
    </div>
</header>