@font-face {
  font-family: "Babycakes";
  src: url("~@/assets/fonts/Babycakes.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BAOCHI";
  src: url("~@/assets/fonts/Baochi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Broken Toys";
  src: url("~@/assets/fonts/Broken.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bubble I, om Bubble I";
  src: url("~@/assets/fonts/Bubble.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BD CARTOON SHOUT, REGULAR";
  src: url("~@/assets/fonts/Cartoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YEFONTYouLongXingKai";
  src: url("~@/assets/fonts/Xingkai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "YEFONTYouZhiHeiTi";
  src: url("~@/assets/fonts/Heiti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
